body {
  padding-top: 54px;
  background-color: #030B20;
  background-image: url(../images/concrete-wall-2.png);
  background-attachment: fixed;
  font-family: 'Libre Franklin', sans-serif;
}
.navbar {
  background-color: #030B20;
  padding: 0px 20px;
}
#subtitle {
  font-size: small;
}
.jumbotron{
  background-color: #87acfdb7;
  padding-top: 10px;
  padding-bottom: 10px;
}
.display-3 {
  font-size: xx-large;
}
.card {
  background-color: #87acfdb7;
  min-height: 0px !important;
}
.lead {
  font-size: medium;
}
.card-text {
  font-size: medium;
}
#height {
  max-height: 250px;
}
.btn {
  background-color: #3e5589;
}
.py-3 {
  background-color: #030B20;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

.card {
  height: 100%;
}
