body {
  padding-top: 54px;
  background-color: #030B20;
  background-image: url(../images/concrete-wall-2.png);
  background-attachment: fixed;
  font-family: 'Libre Franklin', sans-serif;
}
.navbar {
  background-color: #030B20;
  padding: 5px 20px;
  max-height: 70px;
}
.navbar-brand {
  margin-top: 10px;
}
#navbarResponsive {
  background-color: rgb(3, 11, 32, .90);
  padding-right: 10px;
  border-radius: 5px;
  margin-left: 50%;
}
#navdrop {
  text-align: right;
  padding-right: 20px;
}
#subtitle {
  font-size: small;
}
.jumbotron{
  background-color: #87acfdb7;
  padding-top: 10px;
  padding-bottom: 10px;
  min-height: 100px;
}
.display-3 {
  font-size: xx-large;
  display: inline;
}
#rt-pic {
  height: 80px;
  width: 80px;
  float: left;
  margin-right: 5px;
  margin-top: 5px;
  border-radius: 5px;
  opacity: .7;
}
.sm-link-images {
	max-width: 20%;
	max-height: 50px;
	text-align: center;
	padding-bottom: 10px;
}
#social {
  padding-left: 15px;
  display: inline;
}
.connect {
  max-width: 30px;
  max-height: 30px;
  margin-right: 25px;
}
.skillset {
  background-color: rgba(3, 11, 32, 0.589);
  color: ivory;
  font-size: medium;
  border-radius: 5px;
  height: 100%;
  text-align: left;
}
#skill-sep {
  margin-top:10px;
}
.card {
  background-color: #87acfdb7;
  min-height: 0px !important;
  height: 100%;
  padding: 5px;
}
.card-title {
  text-align: center;
}
.lead {
  font-size: medium;
}
.card-text {
  font-size: medium;
}
#height {
  align-self: center;
  width: 85%;
  margin-top: 10px;
  border-radius: 5px;
}
.btn {
  background-color: #3e5589;
}
.py-3 {
  background-color: #030B20;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}