body {
  padding-top: 54px;
  background-image: radial-gradient(#3E5589,#030B20);
  font-family: 'Libre Franklin', sans-serif;
}
.jumbotron{
  background-color: rgba(135, 172, 253, 0.719);
  padding-top: 10px;
  padding-bottom: 10px;
}
.card {
  background-color: rgba(135, 172, 253, 0.719);
}
.lead {
  font-size: medium;
}
.card-text {
  font-size: medium;
}
.btn {
  background-color: #3E5589;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

.card {
  height: 100%;
}
